body {
  background: $tertiary;
}

h1 {
  margin: 0 2.5% 0% 2.5%;
  font-size: 4vw;
  font-weight: bold;
}

h2 {
  margin: 0 $gutter-sm 0 $gutter-sm;
  padding: $gutter-sm 0;
  display: inline;
  font-size: 4vw;
  font-weight: bold;
  color: white;
}

button {
  padding: 1% 2%;
  margin: .5% 0;
  border: none;
  float: right;
  color: $white;
  background: $black;
  border-radius: $border-radius;
  cursor: pointer;
  font-size: 2vw;

  &:hover {
    background: $btn-primary;
  }

  &.create {
    margin-bottom: $gutter-sm;
  }

  &.update {
    margin-bottom: $gutter-sm;
  }

  &.remove {
    margin: 0 1%;

    &:hover {
      background: red;
    }
  }
}

input[type="text"] {
  box-sizing: border-box;
  width: 100%;
  margin: .5% 0;
  padding: $gutter-sm $gutter-lg;
  border-radius: $border-radius;
  border: none;
}

input[type="number"] {
  box-sizing: border-box;
  width: 100%;
  margin: .5% 0;
  padding: $gutter-sm $gutter-lg;
  border-radius: $border-radius;
  border: none;
}

.right {
  float: right;
}

.left {
  float: left;
}

.clearfix {
 visibility: hidden;
 display: block;
 height: 0;
 clear: both;
}
